* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.amazon-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url(assets/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
}
.border1 {
  border: 1.5px solid transparent;
}
.border1:hover {
  border: 1.5px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 17px;
}
.second {
  font-size: 1rem;
}
.add-icon {
  display: flex;
  height: 20px;
}
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.nav-search select {
  text-align: center;
  background-color: #f3f3f3;
  width: 50px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav-search input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #febd68;
  font-size: 1rem;
}
.search-icon img {
  height: 27px;
}
.nav-search:hover {
  border: 2px solid orange;
}

.sign {
  font-size: 0.85rem;
  margin-left: 5px;
}
.nav-signin select {
  font-size: 0.9rem;
  border: none;
  background-color: #0f1111;
  color: white;
  font-weight: 700;
}
.nav-cart {
  font-size: 1rem;
  font-weight: 700;
}

.cart-icon img {
  height: 40px;
}

.panel {
  background-color: #222f3d;
  height: 40px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.panel img {
  height: 20px;
}
.panel-ops p {
  display: inline;
  margin-left: 15px;
}

.panel-ops {
  width: 70%;
  font-size: 0.85rem;
}
.panel-deals {
  font-size: 0.9rem;
  font-weight: 700;
}
.hero-section {
  background-image: url(assets/hero_image.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.msg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  width: 95%;
  height: 40px;
  font-size: 0.85rem;
  margin-bottom: 25px;
}

.msg a {
  color: #007185;
}
.msg a:hover {
  text-decoration: underline;
  color: rgb(6, 6, 122);
  cursor: pointer;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e3e7e6;
}
.box {
  width: 23%;
  background-color: white;
  margin-top: 20px;
  padding: 20px 0px 15px;
}

.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p {
  color: #007185;
  cursor: pointer;
}
.best-content {
  width: 98%;
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
}
.best-content img {
  cursor: pointer;
}

footer {
  margin-top: 1rem;
}

.foot {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37475a;
  color: white;
  font-size: 0.85rem;
  cursor: pointer;
}
.foot a {
  text-decoration: none;
  color: white;
}
.foot:hover {
  background-color: #4c5e75;
}
.foot-second {
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
.foot-second a:hover {
  text-decoration: underline;
  cursor: pointer;
}

ul {
  margin-top: 20px;
}
.foot-second a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}

.foot-third {
  background-color: #222f3d;
  color: white;
  border-top: 0.1px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-third .logo {
  background-image: url(assets/amazon_logo.png);
  background-size: cover;
  height: 40px;
  width: 100px;
  cursor: pointer;
}

.foot-fourth {
  background-color: #0f1111;
  color: white;
  text-align: center;
  height: 80px;
}
.pages {
  font-size: 0.8rem;
  padding: 20px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.pages a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.copyright {
  font-size: 0.7rem;
}
